{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="page-title dark-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Inicio de Sesión</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{% url 'inicio' %}">Home</a></li>
        <li class="current">Inicio de Sesión</li>
      </ol>
    </nav>
  </div>
</div>

<section id="starter-section" class="starter-section section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Inicio de Sesión</h2>
  </div>

  <div class="container" data-aos="fade-up">
    {% if not user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Ingresar</button>
    </form>
    {% else %}
    <p>Ya estás logueado como {{ user.username }}. <a href="{% url 'logout' %}">Cerrar sesión</a></p>
    {% endif %}
  </div>
</section>
{% endblock contenido %}
